body {
    position: relative;
}

.copy {
    font-family: "Lora", serif;
}

.title {
    font-family: "Karla", sans-serif;
}


/* HERO */

.header-box {
    background: url(hero.png) center;
    -webkit-filter: brightness(55%);
    filter: brightness(55%);
    height: 575px;
    padding: 0;
    position: relative;
    text-align: center;
    top: -72px;
    width: 100%;
}

.header-title {
    color: #eff4f5;
    font-size: 3.4em;
    font-weight: 700;
    margin: 0 5%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 90%;
}

.header-copy {
    height: 575px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -72px;
    width: 100%;
    z-index: 99;
}

.header-button {
    border: 2px solid #eff4f5;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 13%;
    padding: 6px 0;
    position: absolute;
    text-transform: uppercase;
    top: 64%;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 74%;
}

.header-button::before {
    background-color: #4ddbff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    z-index: -1;
}

.header-button:hover {
    border: 2px solid #4ddbff;
}

.header-button:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.header-button a {
    color: #eff4f5;
    text-decoration: none;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-button:hover a {
    color: #212121;
}


/* CONTENT */

.intro-copy {
    margin: 0 13% 75px;
    width: 74%;
}

.intro-title {
    font-weight: 700;
    font-size: 3em;
    margin: 50px 0 45px 13%;
    width: 74%;
}

.intro-subtitle {
    font-size: 2.4em;
    font-weight: 700;
    margin: 0 0 0 13%;
}

.intro-copy p {
    font-size: 1.25em;
    hyphens: auto;
    line-height: 1.6;
    margin: 25px 0;
    text-align: justify;
}

.pre-link {
    margin-bottom: 35px;
}

.intro-link {
    color: #212121;
    font-size: 1.35em;
    font-weight: 700;
    position: relative;
    text-decoration: none;
}

.intro-link::after {
    border-bottom: 1px solid #212121;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    z-index: -1;
}

.intro-link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.row-copy p {
    margin: 0;
}

.row-copy .intro-copy {
    margin-bottom: 35px;
    margin-top: 28px;
}

.row-copy .intro-copy:last-of-type {
    margin-bottom: 95px;
}

.intro-names {
    color: #212121;
    font-size: 1.35em;
    font-weight: 700;
}

.intro-link:hover,
.intro-link:focus {
    color: #212121;
    text-decoration: none;
}

.copy-link {
    font-size: 1.05em;
}


/* FOOTER */

.footer {
    background-color: #212121;
    height: 240px;
    padding: 75px 0;
}

@media (min-width: 768px) {
    .header-title {
        font-size: 4em;
    }
    .header-button {
        margin: 0 38%;
        width: 24%;
    }
    .intro-copy {
        margin: 0 10% 75px;
        width: 80%;
    }
    .intro-title {
        font-size: 3.5em;
        margin: 50px 0 45px 10%;
        width: 72%;
    }
    .intro-subtitle {
        font-size: 2.5em;
        margin: 0 0 0 10%;
    }
    .intro-copy p {
        font-size: 1.35em;
    }
    .intro-link {
        font-size: 1.4em;
    }
    .intro-names {
        font-size: 1.4em;
    }
    .copy-link {
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    .header-button {
        margin: 0 40%;
        width: 20%;
    }
    .intro-copy {
        margin: 0 15.5% 75px;
        width: 69%;
    }
    .intro-title {
        margin: 50px 0 45px 15.5%;
        width: 56%;
    }
    .intro-subtitle {
        margin: 0 0 0 15.5%;
    }
}

@media (min-width: 1200px) {
    .header-button {
        margin: 0 41%;
        width: 18%;
    }
    .intro-copy {
        margin: 0 21% 75px;
        width: 58%;
    }
    .intro-title {
        margin: 50px 0 45px 21%;
        width: 46%;
    }
    .intro-subtitle {
        margin: 0 0 0 21%;
    }
}