/* karla-regular - latin */

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url('../fonts/karla-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/karla-v13-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* karla-700 - latin */

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url('../fonts/karla-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/karla-v13-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-regular - latin */

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/lora-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lora-v16-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-700 - latin */

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/lora-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lora-v16-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-family: "Lora", serif;
  --color-light: #eff4f5;
  --color-dark: #0e0e1b;
  --color-main: #4ddbff;
  --color-main-dark: #42bfdf;
  --container-width: 68ch;
  color: var(--color-dark);
}

/* RESETS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  position: relative;
  min-height: 100vh;
  z-index: -1;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

.sans {
  font-family: "Karla", sans-serif;
}

/* HERO */

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center 68%;
  background-image: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)), url(hero.png);
  z-index: -1;
}

h1 {
  color: var(--color-light);
  font-size: 3rem;
  text-align: center;
}

header a {
  position: relative;
  margin-top: 3.2rem;
  padding: .6rem 2rem;
  color: var(--color-dark);
  font-size: 1.2rem;
  text-decoration: none;
  border: 2px solid var(--color-main);
  border-radius: 2px;
  background-color: var(--color-main);
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.25s, border 0.25s;
}

/* CONTENT */

main {
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 4rem 0 3rem;
}

h2 {
  margin: 6rem 0 3rem;
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

h4 {
  font-size: 1.35rem;
  margin-bottom: .5rem;
}

section p {
  font-size: 1.25rem;
  line-height: 1.6;
}

main a {
  color: var(--color-dark);
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}

main a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 2px);
  border-bottom: 1px solid var(--color-dark);
  z-index: -1;
}

main a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 2px);
  border-bottom: 1px solid var(--color-main-dark);
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}

p + p {
  margin-top: 20px;
}

p + h4 {
  margin-top: 1.4rem;
}

.tool-link {
  display: inline-block;
  margin-top: 35px;
}

/* FOOTER */

footer {
  background-color: var(--color-dark);
  height: 240px;
  padding: 75px 10%;
  display: flex;
  justify-content: space-between;
}

footer a {
  display: inline-block;
}

footer a + a {
  margin-left: 3rem;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3.4rem;
  }
  h2 {
    margin: 8rem 0 3rem;
    font-size: 3rem;
  }
  h3 {
    font-size: 2.2rem;
    margin-bottom: 1.8rem;
  }
  header {
    height: 500px;
  }
  section {
    margin: 5rem 0 3rem;
  }
  section p {
    hyphens: auto;
    text-align: justify;
  }
  footer {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  main {
    width: var(--container-width);
  }
  h2 {
    width: 80%;
  }
  footer {
    padding: 75px calc((100% - var(--container-width)) / 2);
  }
}

@media (hover: hover) and (pointer: fine) {
  header a {
    color: var(--color-light);
    border: 2px solid var(--color-light);
    background-color: transparent;
    transition: color 0.25s, border 0.25s;
  }
  
  header a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 1px);
    background-color: var(--color-main);
    opacity: 0;
    transition: opacity 0.25s;
    z-index: -1;
  }

  header a:hover {
    color: var(--color-dark);
    border: 2px solid var(--color-main);
  }

  header a:hover::before {
    opacity: 1;
  }

  main a:hover::after {
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  
  main a:hover, main a:focus {
    color: var(--color-main-dark);
    text-decoration: none;
  }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}